<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/bootstrap-5.3.3-dist/css/bootstrap.min.css">
  <script src="/assets/htmx.min.js"></script>
  <title>[% title %]</title>
</head>
<body hx-encoding="multipart/form-data">
  <div class="container py-3">
    [% content %]
  </div>
  <script src="/assets/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/main.js"></script>
</body>
</html>
