<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="static/r-logo.png">
<!-- bootstrap css: -->
<link rel="stylesheet" href="static/bootstrap-5.3.3-dist/bootstrap.min.css">
<!-- styles.css -->
<link rel="stylesheet" href="static/styles.css">
<!-- bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- htmx: -->
<script type="text/javascript" src="static/htmx-1.9.11.min.js"></script>
