<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="static/r-logo.png">
<!-- styles.css -->
<link rel="stylesheet" href="static/styles.css">
<!-- bootstrap css: -->
<link rel="stylesheet" href="static/bootstrap-5.3.3-dist/bootstrap.min.css">
<!-- bootstrap icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- htmx: -->
<script type="text/javascript" src="static/htmx.min.js"></script>
<!-- jquery(must be loaded before toastr) -->
<script type="text/javascript" src="static/jquery-3.7.1.min.js"></script>
<!-- toastr -->
<link rel="stylesheet" href="static/toastr-2.1.3/toastr.min.css">
<script type="text/javascript" src="static/toastr-2.1.3/toastr.min.js"></script>
<script type="text/javascript" src="static/toastr-2.1.3/toastr_options.js"></script>
